#header {
    padding: 15px;
    width:102%;
    margin-left: -1%;
    margin-top: -1%;
    background-color : #050e22;
    display: flex;
    justify-content:space-between;
}
#header a {
    text-decoration: none;
    color: #70c4f5;
    padding: 15px;
    font-weight: bolder;
    font-size: 22px;
}

.section{
    
    border-radius: 5px;
    box-shadow: 2px 2px 4px gray;
    margin-left: 5%;
    width:90%;
    margin-top: 4vh;
    overflow:hidden;
}

.section-title{
    padding: 5px; 
    color: #ed505b;
    background-color: #fce5e6;
    margin-bottom: 10px;
    margin-left:-10%;
    padding-left:12%;
    margin-right: -2%;
    font-weight: bolder;
    font-size: 22px;
    display:flex;
    justify-content: space-around;
}

input{
    margin:2%;
    margin-left: 5%;
    width: 40%;
}

.add-button{
    margin-left: 45%;
    margin-top: 4vh;
    font-weight: bolder;
    font-size: 22px;
    color: #70c4f5;
}

.fields{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/************  Res bar ******************/
.res-bar{
    width: 90%;
    margin-left:5%;
    height: 4vh;
    background-color: #cc0000;
    display: flex;
}

.res-cut{
    height: 4vh;
    background-color: #6699ff;
    border: 1px solid gray;

}

#res-section{
    margin-bottom: 10vh;
}

